@import "tailwindcss";

/* =====================
   THEME TOKENS
===================== */

:root {
  --bg: 255 255 255;      /* white */
  --card: 255 255 255;    /* white */
  --text: 17 24 39;       /* dark text */
  --border: 229 231 235;  /* very light */
}


.dark {
  --bg: 10 10 10;
  --text: 245 245 245;
  --card: 24 24 27;
  --border: 39 39 42;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}
