@import "tailwindcss";

/* =====================
   THEME TOKENS
===================== */
:root {
  --bg: 255 255 255;
  --bg-hover: 243 244 246; /* light gray */
  --text: 17 24 39;
  --border: 229 231 235;
}

.dark {
  --bg: 10 10 10;
  --bg-hover: 24 24 27; /* soft dark */
  --text: 245 245 245;
  --border: 39 39 42;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.border-token {
  color: rgb(var(--border));
}

.text-token {
  color: rgb(var(--text));
}


